/******
  Index
******/
#wrapper{
  margin-left: 10%;
}
div h1 {
  color: red;
}

div li a {
  style: none;
}

img {
  max-width: 100%;
}
#gallery {
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
}

body ul li a {
  color:red;
  font-weight: 800;
}


/******
  Message
******/

/*#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}*/
